.bg-primary{
   background-color:  #2196F3 !important;
}

.background-list{
    list-style-type : none;
}
html, body{
    height: 100%;
    width: 100%;
}
.navbar{
    color: #234153;
    padding: 1% 0%;
    font-size: 1.2em;
}
.navbar-brand{
    text-decoration-style: solid;
    color: yellow;
}

#home{
    background: url(../images/buenos-aires-image1.jpg) no-repeat center center fixed;
    display:  table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position-y: -1%;
}
.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: aliceblue;
}
.padding{
    padding: 80px 0px;
}

a#centerScrapeButton{
    color: antiquewhite;
}
#navbar-toggle{
    background-color: aliceblue !important;
}
.navbar-toggle{
    background-color: aliceblue !important;
}
.nav-item{
    padding-right: 10px; 
    padding-top: 20px;
    color: aliceblue;
}
.navbar-nav{
    list-style-type: none;
}
.nav-item a{
    color: aliceblue;   
}